<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SayaDB Viewer</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="static/style.css" type="text/css">

</head>
<body>

<!-- Dropdown for Sorting -->

<div class="top-box">
    <div class="links">
        <p class="link-box"><a class="nav_link" href="/fumos">Fumos</a></p>
        <p class="link-box"><a class="nav_link" href="/">Figures</a></p>
        <p class="link-box"><a class="nav_link" href="/advanced">Advanced</a></p>
    </div>
    <div class ="top-filters">
            <p>Sort by: </p>
            <select id="filterType" >
                <option value="none">---</option>
                <option value="id">ID     </option>
                <option value="name">Name   </option>
                <option value="price">Price   </option>
                <option value="freshness">Date   </option>

            </select>

            <select id="sortOrder" >
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>

            <p>Search: </p>
            <input style="border-width: thin;padding: 1em; border-color: darkorange; border-radius: 8px" type="text" id="searchInput" placeholder="Enter search term..." />
    </div>
    <div class="results"><p style="margin: 1em " id="results-amt">Results: ?</p></div>

</div>
    <div>
    <div class="tick-filter-item" id="tick-filter-visibility"><<</div>
        <div class="tick-filter-window" id="tickFilters">
        <h1>Filters:</h1>
        <div class="tick-filter-item" onclick="resetFilters(this)">Reset Filters</div>
        <div class ="tick-filters-scrollable">
            <div><p>Status:</p>
                <div class="tick-filter-item" data-attribute="IN STOCK" onclick="toggleFilter(this)">In Stock</div>
                <div class="tick-filter-item" data-attribute="PRE-ORDER" onclick="toggleFilter(this)">Pre-Order</div>
                <div class="tick-filter-item" data-attribute="ORDER CLOSED" onclick="toggleFilter(this)">Order Closed</div></div>
            <div class="tick-filter-item" data-attribute="NEWEST ARRIVALS" onclick="toggleFilter(this)">Newest Arrivals</div>
            <div class="brand-filters"><p>Brand:</p></div>
        </div>
    </div>
</div>
<div id="tooltip" class="tooltip" style="display: none;">Converted Price</div>

<!-- Container for the Cards -->
<div class="container" id="cardContainer">
    {{range .}}
    <div class="card" data-price="{{.Price}}" data-freshness="{{.LastUpdated}}" data-name="{{.Label}}" data-brand="{{.Brand}}" data-id="{{.ID}}" data-first-ingest="{{.FirstIngest}}">
        <img src="{{.ImgUrl}}" alt="{{.Label}}">
        <div class="card-content">
            <a class="link-in-title" href="{{.ItemUrl}}" target="_blank"><h3 class="card-title">{{.Label}}</h3></a>
            <p class="brand-text">{{.Brand}}</p>
            <p><span class="status-text">{{.Status}}</span></p>
            <p>Freshness: <span class="freshness-display">{{.LastUpdated}}</span></p>
            <p class="price" onmouseover="showTooltip(event, '{{.Price}}')" onmouseout="hideTooltip()">
                {{if ne (printf "%v" .OldPrice) "0"}}
                <!-- Display price with strikethrough and old price -->
                {{.Price}} JPY <span class="old-price">{{.OldPrice}} JPY</span>
                {{else}}
                <!-- Display only the current price if OldPrice is "0" -->
                {{.Price}} JPY
                {{end}}
            <p>{{.ID}}</p>

        </div>
    </div>
    {{end}}
</div>
<div>
    <img id="ghost" src="https://www.amiami.com/images/parts/loading_01.png">
</div>
<!-- JavaScript for Sorting -->
<script type="text/javascript" src="static/script.js"></script>

</body>
</html>